/* theme: blasphemous-fragment-of-guilt */
* {
    th-bg:            rgba(238, 247, 244, 88%);
    th-fg:            rgb(36, 48, 46);
    th-fg-selected:   rgba(10, 10, 7, 100%);
    th-row-alt:       rgba(24, 24, 24, 10%);
    th-row-selected:  rgba(24, 24, 24, 0.82);
    th-border-color:  rgba(24, 24, 24, 0.42);
    th-separator:     rgba(24, 24, 24, 0.90);
}
