/* theme: hyprashen */
* {
    th-bg:            rgba(24, 24, 24, 100%);
    th-fg:            rgb(117, 117, 117);
    th-fg-selected:   rgba(117, 117, 117, 100%);
    th-row-alt:       rgba(34, 34, 34, 50%);
    th-row-selected:  rgba(20, 20, 20, 0.90);
    th-border-color:  rgba(117, 117, 117, 1);
    th-separator:     rgba(117, 117, 117, 0.5);
}
